@import "../general";

.button {
  border: 1px solid $primary-color;
  background-color: transparent;
  border-radius: 35px;
  color: #fff;
  cursor: pointer !important;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.4;
  outline: none !important;
  overflow: hidden;
  padding: 16px 70px 16px 35px;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  text-overflow: ellipsis;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
  -webkit-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  z-index: 1;
  box-shadow: 0 5px 10px #ba7c0030, 0 3px 3px rgba(202, 134, 0, 0.23);
}

.button-icon {
  align-items: center;
  border-radius: 50%;
  bottom: 0;
  color: #fff;
  display: flex;
  font-size: 19px;
  height: 55px;
  justify-content: center;
  position: absolute;
  right: -1px;
  top: -1px;
  width: 55px;
  background-color: $primary-color;
}

.button::before {
  background-color: $primary-color;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  transition: all 0.3s ease-out;
  z-index: -1;
}

.button:hover::before {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
