@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

/* Colors */
$primary-color: #ffb400;
$secondary-color: #666;
$basic-color: white;
$background-color: #111;
$transparent: #1110;
// Margins

// Fonts size
$title-1: 42px;
$text: 16px;

// Fonts
$font-1: "Poppins", sans-serif;
$font-2: "Open Sans", sans-serif;

.text-uppercase {
  text-transform: uppercase !important;
}

#root {
  display: flex;
  flex-direction: column;
}
