.icons-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 40vh;
}

.icons-container a {
  width: 70px;
  height: 54px;
  padding-left: 20px;
  margin-left: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 425ms cubic-bezier(0.19, 1, 0.22, 1);
}

.icons-container a:hover {
  transform: translate(20px, 0);
}

.ig {
  background:
    radial-gradient(
      circle at 25% 110%,
      #fdf497 0,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%
    ),
    radial-gradient(
      circle at 25% 110%,
      #b9a800 0,
      #938500 5%,
      #b10f00 45%,
      #8c0061 60%,
      #002ca9 90%
    );
}

@media screen and (max-width: 768px) {
  .icons-container a:hover {
    transform: none;
  }

  .icons-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 0;
    top: auto;
    bottom: 20px;
  }

  .icons-container a {
    width: 40px;
    height: 40px;
    padding-left: 0;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 425ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}
