@import "../shared/general.scss";

.about {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  line-height: 30px;
}

.me {
  margin: 40px 0px 35px 35px;
  img {
    border: 4px solid #252525;
    border-radius: 50%;
    display: block;
    height: 270px;
    margin: 0 auto 25px;
    width: 270px;
    background-color: #252525;
  }
}

.about-content {
  max-width: 40.3333%;
}

.button {
  border: 1px solid $primary-color;
  background-color: transparent;
  border-radius: 35px;
  color: #fff;
  cursor: pointer;
  cursor: pointer !important;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.4;
  outline: none !important;
  overflow: hidden;
  padding: 16px 70px 16px 35px;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  text-overflow: ellipsis;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
  -webkit-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  z-index: 1;
}

.button-icon {
  align-items: center;
  border-radius: 50%;
  bottom: 0;
  color: #fff;
  display: flex;
  font-size: 19px;
  height: 55px;
  justify-content: center;
  position: absolute;
  right: -1px;
  top: -1px;
  width: 55px;
  background-color: $primary-color;
  background-image: url('./assets/arrow-right.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.button:hover:before {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.button:before {
  background-color: $primary-color;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  transition: all 0.3s ease-out;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .about {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    padding-top: 8%;
  }

  .me {
    margin: 0px;
    img {
      border: 4px solid #252525;
      border-radius: 50%;
      display: block;
      margin: 0 auto 25px;
      background-color: #252525;
      height: 230px;
      width: 230px;
    }
  }

  .about-content {
    max-width: 83.3333%;
    text-align: center;
  }

  .title-1 {
    font-size: 29px;
  }

  .text-p {
    font-size: 14px;
  }
}
