@import "../shared/general";

.contact-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

form div {
  display: flex;
  gap: 10px;
}

.contact-info div > div {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.contact-info div > div div {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.title-2 {
  font-family: $font-1;
}

.title-3 {
  color: $secondary-color;
}

.no-m {
  margin: 0;
}

.contact-icon {
  align-self: center;
}

.contact-icons {
  background: #2b2a2a;
  border-radius: 50%;
  color: #fff;
  display: flex;
  font-size: 17px;
  height: 40px;
  line-height: 42px;
  text-align: center;
  transition: 0.3s;
  width: 40px;
  justify-content: center;
  align-items: center;
}

.contact-icons:hover {
  background-color: $primary-color;
}

// form
.input {
  font-family: $font-2;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  background: #252525;
  border: 1px solid #111;
  border-radius: 30px;
  color: white;
  outline: none !important;
  padding: 11px 26px;
  transition: 0.3s;
}

.input:focus {
  border: 1px solid $primary-color;
}

.m-3 {
  margin: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form textarea {
  height: 200px;
}

form button {
  align-self: self-start;
}

@media screen and (max-width: 768px) {
  .span-contact {
    font-size: 60px;
  }

  .contact-info {
    flex-direction: column;
    gap: 50px;
  }

  form div {
    flex-direction: column;
  }
}

// Notification

.u-mg-b--sm {
  margin-bottom: 10px;
}

.page-title {
  text-align: center;
  text-transform: uppercase;
}

.display-wrapper {
  max-width: 50%;
  margin: 0 auto;
  padding: 25px;
  border: 1px solid #fefefe;
  border-radius: 5px;
  background: #fff;
}

.notification {
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  border-width: 0 0 1px 0;
  border-style: solid;

  + .notification {
    margin-top: 15px;
  }

  &--error {
    background: #ffc0c0;
    border-color: #8c1a1a;
    color: #8c1a1a;
  }

  &--success {
    background: #e1ffdf;
    border-color: #2c4a2c;
    color: #2c4a2c;
  }
}

.notification__icon-block {
  margin-right: 15px;
}

.notification__content-block {
  margin-right: 50px;
}

.notification__par {
  margin: 0;
}

.notification__close-link {
  position: absolute;
  right: 0;
  padding: 0 15px;
  color: #4c83ff;
}
