@import "../shared/general";

.title-section h1 {
  color: #fff;
  font-size: 56px;
  font-weight: 900 !important;
  margin: 0;
  text-transform: uppercase;
}

.title-section h1 span {
  color: $primary-color;
}

[data-aos^="fade"][data-aos^="fade"].aos-animate {
  opacity: 1;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

[data-aos][data-aos][data-aos-duration="1200"],
body[data-aos-duration="1200"] [data-aos] {
  transition-duration: 1.2s;
}

[data-aos][data-aos][data-aos-easing="ease"],
body[data-aos-easing="ease"] [data-aos] {
  transition-timing-function: ease;
}

[data-aos^="fade"][data-aos^="fade"] {
  opacity: 0;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
}

[data-aos="fade-up"] {
  -webkit-transform: translate3d(0, 100px, 0);
  transform: translate3d(0, 100px, 0);
}

.title-section {
  margin: 0 auto;
  padding: 70px 0;
  position: relative;
  width: 100%;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.title-bg {
  color: hsla(0, 0%, 100%, 0.07);
  font-size: 110px;
  font-weight: 800;
  left: 0;
  letter-spacing: 10px;
  line-height: 0.7;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.project-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

@media (min-width: 576px) {
  .text-sm-center {
    text-align: center !important;
  }
}

@media screen and (max-width: 768px) {
  .project-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .title-section {
    text-align: center;
  }

  .title-section h1 {
    color: #fff;
    font-size: 43px;
    font-weight: 900 !important;
    margin: 0;
    text-transform: uppercase;
  }

  .title-bg {
    font-size: 85px;
  }
}
